body {
    background-color: lightcyan;
    font-family: 'Courier New', Courier, monospace;
}

section {
    width: 70%;
    margiN: 0 auto;
    border: 1px solid black;
}

div {
    padding: 0 1rem 1rem;
}

h1 {
    font-size: 1.3rem;
}