body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    width: 70%;
    margiN: 0 auto;
    border: 1px solid black;
    background-color: lightblue
}

div {
    padding: 0 1rem 1rem;
}

h1 {
    font-size: 1.3rem;
}

header {
background: url('../img/bg.jpg') no-repeat center;
padding: 1rem 1.5rem;
font-size: 1.5rem;
font-weight: 600;
display: flex;
align-items: center;
color: white;
gap: 1rem;
}

header p {
    margin-bottom: 0;
}

.icon svg path {
    fill: white;
}

.icon {
    width: 45px;
    height: 45px;
    padding: 0;
}

footer {
    background-color: maroon;
    padding: 1rem;
    font-size: .8rem;
    color: white;
}